<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Eksamensprojekt.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Eksamensprojekt.My.MySettings>
            <setting name="LærerBruger" serializeAs="String">
                <value>Gary</value>
            </setting>
            <setting name="LærerPass" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="ElevBruger" serializeAs="String">
                <value>cto69h3</value>
            </setting>
            <setting name="ElevPass" serializeAs="String">
                <value>nwq420htc</value>
            </setting>
        </Eksamensprojekt.My.MySettings>
    </userSettings>
</configuration>